/* -------Nav Bar------- */
.nav-wrapper {
  position: fixed;
  width: 100%;
  height: 78px;
  background-color: #39404B;
  z-index: 3;
  padding: 26px 0 0px 0;
  text-align: center;
}

.nav-wrapper > a {
  background-color: #39404B;
  border: 1px solid #636c7b;
  box-shadow: none;
  padding: 10px 26px;
  margin: 0px 8px;
  color: white;
  text-decoration: none;
  font-size: 1.3rem;
  border-radius: 2px;
}

.nav-wrapper > a:focus {
  outline: none;
}

active, .nav-wrapper > a:hover {
  background-color: #494f5e;
}

/* ------- Back To Top Button ------- */

.top-button {
  position: fixed;
  right: 20px;
  bottom: 30px;
}

.top-button-moved {
  position: fixed;
  right: 20px;
  bottom: 78px;  
}

/* -------Hamburger Menu------- */
.header {
  display: none;
}

