/* -------Nav Bar------- */
.nav-wrapper {
  position: fixed;
  display: grid;
  width: 100%;
  grid-template-columns: 100%;
  grid-template-rows: 78px;
  background-color: #39404B;
  z-index: 3;
  
}

.nav-wrapper > div {
  text-align: center;
}

.nav-wrapper > div > button {
  background-color: #39404B;
  height: 56px;
  margin: 11px 7px;
  border: 1px solid  #636c7b;
  color: white;
  font-size: 1.3em;
  padding: 0 26px;
  box-shadow: none;
}

.nav-wrapper > div > button:focus {
  outline: none;
}

.nav-wrapper > div > button:hover {
  background-color: #494f5e;
}