/*----- Tail Container Layout & Styling-----*/

.tail {
  padding: 10px 0 38px 0;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #e6e6e6;
}

.tail-container {
  margin: 0 auto;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-rows: auto;
  grid-column-gap:30px;
  grid-row-gap:60px;
}

.tail-1col1 {
  grid-column: 1/13;
  grid-row:1/2;
  text-align: center;
}

.tail-hl {
  font-style: italic;
  font-weight: 400;
  font-size: 1.85rem;
  color: #666;
}

.tail-p {
  font-style: italic;
  font-weight: 400;
  font-size: .85rem;
  color: #a0a0a0;
  line-height: 22px;
}

/*----- Footer Container Layout & Styling-----*/

.footer-container {
  margin: 33px auto;
  width: 100%;
  text-align: center;
  border-bottom-width: 1px;
}

.footer-1col {
  font-weight: 400;
  font-size: .75rem;
  color: #666;
}

.foot-text a {
  text-decoration: none;
  color: #5e95c6;
}